# Python
__pycache__/
*.py[cod]
*.pyo

# Logs
*.log

# TLS – alle Zertifikate und Schlüssel niemals einchecken
certs/*.pem

# Virtuelle Umgebungen
.venv/
venv/
env/
doku/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Wireshark-Captures
*.pcapng
*.pcap
